.container {
    display: flex;
    /*flex-direction: column;*/
    /*flex-wrap: wrap;*/
    justify-content: space-around;
    align-items: center;
    height: 600px;
}
.element1 {
    background-color: red;
    width: 80px;
    height: 60px;
}
.element2 {
    background-color: blue;
    width: 80px;
    height: 60px;
}
.element3 {
    background-color: bisque;
    width: 80px;
    height: 60px;
}
h1 {
    color: blue;
}